
body{
    background: url(images/wall_SW.jpg);
    background-size: 100%;
}
.lds-ellipsis {
    visibility: hidden;
    display: inline-block;
    vertical-align:auto;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #edec51;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  .show {
    visibility: visible;
  }

  #btnPrevious{
    display: none;
  }
  

ul li{
    font-family: 'Bungee Inline', cursive;
    /*font-family: 'Bungee Outline', cursive;*/
    color: #edec51;
    font-size: 32px;
    margin-top:-20px;
    margin-bottom: -10px;    
    float: left;
    clear: left;
    
}
table{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
table li{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 1px;

}
.forList{
  width: 150px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgb(24, 23, 23);
  text-transform: uppercase;
  font-size: 20px;

}
.close{
  background: none;
  color: white;
}
