
body{
  background: url(images/SW_wall.jpg);
  background-size: contain;
}
.lds-ellipsis {
    visibility: hidden;
    display: inline-block;
    vertical-align:auto;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fcf;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  .show {
    visibility: visible;
  }
  
#container{
  display: block;
  margin: 0 auto;
    
}  
.person{
  width:402px;
  height:450px;
  background-color: white;
  position: relative;
  margin: 20px;
  display: inline-block;
}
.personInfo{
  width:362px;
  height: 362px;
  margin: 20px;
  position: absolute;
  background-color: silver;
}

.personName{
  width:362px;
  height: 48px;
  margin: 392px 20px 0px;
 position: absolute; 
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
}
table{
  visibility: hidden;
  background: silver;
}